<div class="nav-grid">
  <div class="nav-left">
    <div class="nav-item">
      <%= link_to 'Home', root_path %>
    </div>
    <div class="nav-item">
      <%= link_to 'Tasks', tasks_path %>
    </div>
  </div>
  <div class="nav-right">
    <div class="nav-item">
      <%= link_to 'About', about_path %>
    </div>
  </div>
</div>